# uploader-config.j2
primary_endpoint = "{{ primary_endpoint }}"
dr_endpoint = "{{ dr_endpoint }}"

cert_path = "{{ edge_credentials_dest }}/cert.pem"
key_path = "{{ edge_credentials_dest }}/private.key"
cert_dr_path = "{{ edge_credentials_dest }}/cert-dr.pem"
